*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  cursor: url(docs/assets/cursor.cur), crosshair;
}

body {
  font-family: 'Space Mono', monospace;
  line-height: 1.6;
  background: rgba(175, 238, 238, 0.3);
  color: lightcoral;
  margin: 0 auto;
  padding: 0;
  max-width: fit-content;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}



/* Global Typography */

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

form,
textarea {
  font-size: 1rem;
}

/* HEADER */

header {
  text-align: center;
  margin: 1em auto;
}

.section {
  padding: 1em 1em;
  width: 100%;
  margin: 1em auto;
}


/* Buttons */

.button,
.btn-light,
.btn-dark {
  display: block;
  padding: 0.6rem 2rem;
  margin: 1rem;
  transition: all 0.1s;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button {
  color: lightgoldenrodyellow;
  background-color: lightcoral;
  width: 15em;

}

.btn-light {
  color: #0a2472;
  background-color: white;
}

.btn-dark {
  color: white;
  background-color: #0a2472;
}

button {
  font-size: 1.2rem;
  padding: 0.5em 1em;
  background-color: lightcoral;
  color: lightgoldenrodyellow;
  font-family: 'Space Mono', monospace;
}

a[class='button']:hover,
input[class='button']:hover {
  background-color: lightgoldenrodyellow;
  color: lightcoral;
  font-weight: 700;
  transform: scale(1.08);
}

#bigblank2 {
  background-color: unset;
  width: 40%;
  height: 13em;
}
#bigblank {
  background-color: unset;
  width: 40%;
  height: 10em;
}
#blank {
  background-color: unset;
  width: 40%;
  height: 7em;
}

/* funky sentences */
.wrapper {
  padding: 1em;
  width: 400px;
  margin: 0 auto;
  text-align: start;
}

.container {
  display: inline-block;
  height: 64px;
  vertical-align: middle;
  overflow: hidden;
}

.container ul {
  animation: cycle-items 4s steps(6) alternate infinite;
}

.container li {
  font-size: 40px;
  height: 64px;
}

 
@keyframes cycle-items {
  to {
    transform: translateY(-80%)
  }
}

/*IMAGES*/

#girl {
  float: right;
  
  }
  #window {
    float:none;
    margin-left:5%;
    transform: rotate(15deg)
    @media (min-width: 600px) {
      float: right;
  }
    }
    #polaroid {
      float: right;
      transform: rotate(350deg)
      }
      #stickerbundle {
        float: left;
        transform: rotate(350deg)
        }
        #stickerbundle2 {
          float: right;
          }
  
      
/*sticky tape*/

note{
    position: absolute;
    background: url('./docs/assets/washitape3.png') center/cover no-repeat;
    width: 20%;
    height: 20%;
    top: -10%;
    left:50%;
    transform: translateX(-50%);
  }

  .note2 {
    position: relative;
  }

  .note::after {
    content: '';
    position: absolute;
    background: url('./docs/assets/washitape3.png') center/cover no-repeat;
    width: 20%;
    height: 15%;
    top: -10%;
    left:50%;
    transform: translateX(-50%);
      }

/*  Post-it one  */
    #text1 {
  width: 60%;
  height: 100%;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  background-color: lightgoldenrodyellow;
  font-family: 'Space Mono', monospace;
}

    /*  Post-it two  */

    #text2 {

    width: 40%;
    height: 100%;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    transform: skewY(-2deg);
    transform: rotate(-5deg);
    background-color: rgb(250, 230, 210);
    font-family: 'Space Mono', monospace;
    z-index: 99;

    @media (max-width: 600px) {
      width: 80%;

  }
  }
  .text2 {
    position: absolute;
  }
  .paper {
    z-index: 9;
    float: right;
    transform: rotate(15deg)
  }

  .paperhover {
    animation-name: paperhover;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
  }
  
   @keyframes paperhover {
  
    0% {
      transform: scale(1, 1);
    }
    10% {
      transform: scale(1, 0.95);
    }
    30% {
      transform: scale(1, 0.9);
    }
    50% {
      transform: scale(1, 0.85);
    }
    70% {
      transform: scale(1, 0.9);
    }
    90% {
      transform: scale(1, 0.95);
    }
    100% {
      transform: scale(1, 1);
    }
  }

     #github {
    margin-left: 32%;  
  }

    /*  Post-it three  */

    #text3 {
    align-content: start;
      width: 50%;
      height: 100%;
      margin: 1em auto;
      padding: 1em;
      border-radius: 2px;
      border: unset;
      transform: rotate(2deg);
      background-color: lightgoldenrodyellow;
      font-family: 'Space Mono', monospace;
  }

  /*  Post-it four  */

    #text4 {
    align-content: start;
          width: 50%;
          height: 100%;
          margin: 5% auto;
          margin-right: 5%;
          padding: 2%;
          border-radius: 2px;
          transform: rotate(-4deg);
          background-color: rgb(195, 203, 255);
          font-family: 'Space Mono', monospace;
          float: right;
          
          
  }

  @media (max-width: 500px) {
    .note {
        flex: 1 1 100%;
        max-width: 100%;
        float: none;
        align-content: center;
        box-sizing: border-box;
    }
  }
  /*  footer  */
   footer {
      text-align: start;
      line-height: 7em;
      float: left;
  }
