
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Mono', monospace;
  line-height: 1.6;
  background: rgba(175, 238, 238, 0.3);
  color: lightcoral;
  margin: 0 auto;
  padding: 0;
  max-width: 1100px;
  cursor: url(docs/assets/cursor.png), auto;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


.wrapper {
  padding: 1em;
  width: 400px;
  margin: 0 auto;
  text-align: start;
}

.container {
  display: inline-block;
  height: 64px;
  vertical-align: middle;
  overflow: hidden;
}

.container ul {
  animation: cycle-items 6s steps(5) alternate infinite;
}

.container li {
  font-size: 40px;
  height: 64px;
}
 
@keyframes cycle-items {
  to {
    transform: translateY(-100%)
  }
}

/* Global Typography */

h1 {
  font-size: 4cm;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

form,
textarea {
  font-size: 1rem;
}

button {
  display: block;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  border: none;
  background-color: lightcoral;
  color: #0a2472;
  font-family: 'Space Mono', monospace;
}

/* Section Container Positions, Spacing, Utilities */

header {
  text-align: center;
  margin: 0em auto;
}

.section {
  padding: 1em 1em;
  width: 100%;
  margin: 1em auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-row {
  width: 90%;
  margin: 0 auto;
}

/* Button Standard */

.btn-main,
.btn-light,
.btn-dark {
  display: block;
  padding: 0.6rem 2rem;
  margin: 1rem;
  transition: all 0.1s;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-main {
  color: lightgoldenrodyellow;
  background-color: lightcoral;
}

.btn-light {
  color: #0a2472;
  background-color: white;
}

.btn-dark {
  color: white;
  background-color: #0a2472;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: lightgoldenrodyellow;
  color: lightcoral;
  font-weight: 700;
  transform: scale(1.08);
}

#blank {
  background-color: unset;
  width: 40%;
  height: 10em;
}
/*images*/

#girl {
  float: right;
  
  }
  #window {
    float: right;
    transform: rotate(15deg)
    }
    #polaroid {
      float: right;
      transform: rotate(350deg)
      }
/*Articles*/
#text {
align-content: start;
  width: 60%;
  height: 14em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: lightgoldenrodyellow;
  font-family: 'Space Mono', monospace;
}
#text2 {
    width: 40%;
    height: 17em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    transform: skewY(-2deg);
    transform: rotate(-5deg);
    background-color: rgb(250, 230, 210);
    font-family: 'Space Mono', monospace;
  }

  #washitapebox {

  #text3 {
    align-content: start;
      width: 50%;
      height: 12em;
      margin: 1em auto;
      padding: 1em;
      border-radius: 2px;
      border: unset;
      transform: rotate(2deg);
      background-color: lightgoldenrodyellow;
      font-family: 'Space Mono', monospace;
    }
  }
footer {
  width: 100%;
  display: inline-block;
  margin: 2em 0;
  height: 70px;
  background-color: lightcoral;
      width: 50%;
      text-align: center;
      max-width: 600px
      text-align: left;
      line-height: 70px;
      text-decoration: none;
      color: white;
      font-weight: bold; 
  }
